@model SGCFVIEF.Entidad.ReclamoEntidad
@{
    ViewBag.Title = "RespuestaReclamo";
}

<div id="content-header">
    <h1>Registro Reclamo</h1>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span6 clear centrar6">
            <div class="widget-box">
                <div class="widget-title">
                    <span class="icon">
                        <i class="icon-align-justify"></i>
                    </span>
                    <h5>Información de Reclamo</h5>
                </div>
                <div class="widget-content nopadding">
                    <form class="form-horizontal formulario" method="post" action="#" name="basic_validate" id="basic_validate" novalidate="novalidate">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Cod_Vendedor">Código Vendedor:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Vendedor.Cod_Vendedor, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Nombre">Nombres:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Vendedor.Nombre, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Apellido">Apellido Paterno:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Vendedor.Apellido, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="NomCanal">Apellido Materno:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Vendedor.Apellido2, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Canal">Canal:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Canal.Canal, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Canal">Sub-Canal:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Subcanal.SubCanal, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Canal">Región:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Region.Descripcion, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Provincia">Provincia:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Provincia.Descripcion, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Distrito">Distrito:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Distrito.Descripcion, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="page-header">
                                <h1>Informacion de Reclamo</h1>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="BT_Cliente">Código Cliente:</label>
                                @Html.HiddenFor(model => model.Solicitud.N_Solicitud)
                                @Html.HiddenFor(model => model.Cod_Reclamo)
                                @Html.TextBoxFor(model => model.Solicitud.BT_Cliente, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TipoDocumento">Tipo Documento:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Tipo_Doc.Nomb_Doc, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="NumDocumento">N° Documento:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Num_Doc, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="NombreCliente">Nombre Cliente (Nombres, Apellido Paterno, Apellido Materno):</label>
                                @Html.TextBoxFor(model => model.Solicitud.NombreCompletoCliente, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="N_Operacion">N° Operacion / Tarjeta:</label>
                                @Html.TextBoxFor(model => model.Solicitud.N_Operación, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FechaAprobacion">Fecha Aprobación:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Fecha_Aprob_Rech, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="Producto">Producto:</label>
                                @Html.TextBoxFor(model => model.Solicitud.Producto.Producto, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Sub_Producto">Sub-Producto:</label>
                                @Html.TextBoxFor(model => model.Solicitud.SubProducto.SubProducto, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TipoReclamo">Tipo Reclamo:</label>
                                @Html.DropDownListFor(model => model.TipoReclamo, new List<SelectListItem> { new SelectListItem { Text = "Solicitudes", Value = "1" }, new SelectListItem { Text = "Pago", Value = "2" } }, "Todos", new { @class = "form-control chosen-select", @disabled = "true" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="MotivoRechazoSolicitud">Motivo de Reclamo:</label>
                                @Html.DropDownListFor(model => model.MotivoRechazoSolicitud.Cod_MotivoRechazoSolicitud, new SelectList(ViewBag.ListaMotivosRechazo, "Cod_MotivoRechazoSolicitud", "Nom_MotivoRechazoSolicitud"), "Todos", new { @class = "form-control chosen-select", @disabled = "true" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="RespuestaReclamo">Respuesta:</label>
                                @Html.DropDownListFor(model => model.RespuestaReclamo.Cod_RespuestaReclamo, new SelectList(ViewBag.ListaRespuestaReclamo, "Cod_RespuestaReclamo", "Nom_RespuestaReclamo"), "Todos", new { @class = "form-control chosen-select" })
                            </div>
                        </div>

                        <div class="clearfix">

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Observacion">Observaciones:</label>
                                @Html.TextAreaFor(model => model.Observaciones, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Nom_Usuario">Usuario:</label>
                                @Html.TextBoxFor(model => model.Usuario.Nom_Usuario, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="FechaInicio">Fecha Inicio:</label>
                                @Html.TextBoxFor(model => model.FechaInicio, new { @class = "form-control", @readonly = "true" })
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Estado">Estado:</label>
                                @Html.DropDownListFor(model => model.Estado, new List<SelectListItem> { new SelectListItem { Text = "Activo", Value = "A" }, new SelectListItem { Text = "Respondido", Value = "R" } }, "Todos", new { @class = "form-control chosen-select", @readonly = "true" })
                            </div>
                        </div>
                        <div class="col-md-8">

                        </div>
                        <div class="clearfix">

                        </div>
                        <div class="col-md-12">
                            <div class="alert alert-danger text-left" id="Message-Error">
                                <strong></strong>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <button type="button" class="btn btn-danger" id="btn-registrarrespuesta">Grabar</button>
                                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-warning" })
                            </div>
                        </div>
                        <div class="clear"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MensajeGrabarRespuesta">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Está seguro que desea brindar una respuesta. ¿Desea continuar?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btn-grabarrespuesta">Si</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ResultadoGrabacionRespuesta">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Se registro la respuesta al reclamo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ResultadoGrabacionRespuestaErr">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Mensaje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="Mensaje"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/script-layaout")
@Scripts.Render("~/bundles/mantenimiento-reclamo")
<script>
    $(function () {
        $("#FechaInicio").datepicker();
        $("#FechaFin").datepicker();
    });
</script>

